.mainCapt {
    font-family: Montserrat;
    font-size: 56px;
    font-weight: 400;
    margin-top: 107px;
    margin-bottom: 104px;
}

.mainCaption1 {
    text-align: left;
}

.mainCaption2 {
    text-align: left;
}

.mainCaption3 {
    text-align: right;
}

.mainPageSpacer {
    height: 78px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

.collegeName {
    margin-bottom: 300px;
    font-weight: 400;
    font-size: 24px;
}

.aboutCollBlock {
    margin-bottom: 30px;
}

.aboutCollegeTitle {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutCollegeMain {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
}

.mainAboutBtn {
    padding: 13px;
    border: 1px solid white;
    color: white;
    margin-bottom: 50px;
    display: block;
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
}

.companiesPictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    margin: 120px 0 180px 0;
}

.newsTitleContainer {
    margin-bottom: 90px;
}

.newsHeadWhite {
    color: white;
    text-align: left;
    margin: 2px 0 2px 0;
    text-decoration: underline;
    font-weight: 400;
    font-size: 60px;
    font-family: Montserrat;
}

.newsHeadGray {
    color: gray;
    text-align: right;
    margin: 50px 0 50px 0;
    text-decoration: underline;
    font-weight: 400;
    font-size: 60px;
    font-family: Montserrat;
}

@media screen and (min-width: 1400px) {
    .basic {
        margin-left: 60px;
    }

    .mainCapt {
        font-size: 110px;
        font-weight: 500;
        line-height: 134px;
        margin-bottom: 67px;
    }
    .collegeName {
        margin-bottom: 300px;
        font-weight: 500;
        margin-left: 180px;
        margin-bottom: 215px;
    }

    .aboutCollBlock {
        margin: 0 0 0 60px;
        border-left: 3px solid white;
        padding-left: 50px;
        padding-bottom: 79px;
    }

    .aboutCollegeTitle {
        padding-top: 50px;
        margin-bottom: 50px;
        margin-top: 0;
        text-align: left;
    }

    .mainAboutBtn {
        margin-bottom: 0;
    }

    .companiesPictures {
        margin: 202px 0 317px 0;
    }

    .newsTitleContainer {
        margin: 0 auto 90px auto;
        width: 1111px;
    }

    .articlesContainer {
        display: flex;
        width: 100%;
    }

    .leftSpacer {
        width: 60px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        box-sizing: border-box;
    }

    .articlesBody {
        width: inherit;
    }

    .newsTitleContainer {
        margin-bottom: 178px;
    }

    .newsHeadWhite {
        font-size: 110px;
        font-weight: 500;
        text-decoration: none;
    }

    .newsHeadGray {
        font-size: 110px;
        font-weight: 500;
        text-decoration: none;
    }
}
