footer {
    margin-top: 100px;
}

.followCont {
    margin-top: 44px;
    margin-bottom: 61px;
}

.followText {
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 23px;
}

.socialsLink {
    margin-right: 18px;
    width: 25px;
    height: 25px;
}

.navLinksFooter {
    display: flex;
    margin: 20px 0 20px 0;
    flex-direction: column;
    height: 120px;
    flex-wrap: wrap;
}

.navLinksFooter a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

@media screen and (min-width: 1400px) {
    .navLinksFooter {
        justify-content: space-around;
        align-items: center;
        flex-direction: unset;
    }
}
